__pycache__/
*.pyc
.env
*.egg-info/
dist/
build/
venv/
.venv/

data/
vector_store/
*.pt
*.pth
*.safetensors

.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

.idea/
.vscode/

.pytest_cache/
htmlcov/
.coverage